
  .selectorCanvas{
    margin-top: 20px;
    filter: blur(1px) grayscale(75%);
    background-image: url('../img/helicopter-sprite.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }

  .question{
    display: none;
  }

  .questionBtn:hover{
    background-color: green !important;
  }